body {
    background-color: #67AB9F;
    font-weight: bold;
}

.container {
    margin: 70px auto;
    background-color: white;
    border-radius: 5px;
    width: 400px;
    box-shadow: 2px 3px 10px rgb(184, 184, 184);
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

form {
    padding: 20px 40px 20px 40px;
}

button:hover {
    opacity: 0.8;
}

.btns {
    padding-top: 30px;
    text-align: center;
}

.btn-primary {
    background-color: #7EA6E0;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: medium;
    width: 120px;
    padding: 7px;
}

.btn-danger {
    background-color: #F898A4;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: medium;
    width: 100px;
    padding: 7px;
}
label{
    margin-bottom: 5px;
}

input {
    width: 100%;
    height: 35px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}
.btnlayout {
    display: flow-root;
    text-align: center;
    height: 60px;
}
label{
    margin-bottom: 5px;
}