body {
    height: 100%;
    margin: 0;
    background-size: 100% 100%, auto;
}

.navbareng {
    background-color: #67ab9f;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

.navbareng a {
    color: #ffff;
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbareng a:hover {
    background-color: #ddd;
    color: black;
}

.navbareng a.active {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background-color: #67ab9f;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dropdowneng {
    float: right;
    overflow: hidden;
}

.dropdowneng .dropbtneng {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdowneng:hover .dropbtneng {
    background-color: #ddd;
    color: black;
}

.dropdowneng-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: auto;
}

.dropdowneng-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdowneng-content a:hover {
    background-color: #ddd;
}

.dropdowneng:hover .dropdowneng-content {
    display: block;
}

form.example input[type="text"] {
    padding: 7px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 5px;
}

form.example button {
    width: 20%;
    padding: 7px;
    background: #7ea6e0;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 5px;
}

form.example button:hover {
    background: #0b7dda;
}

* {
    box-sizing: border-box;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.fh {
    padding-top: 30px;
}

.table-active {
    height: 60px;
    background-color: #957DAD;
    color: white;
}

tbody tr {
    height: 48px;
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}

.table-warning {
    background-color: #FFDFD3;
}

.wrapper {
    line-height: 1.5em;
    margin: 0 auto;
    padding: 5px 0 3px;
    width: 100%;
    max-width: 2000px;
    overflow: hidden;
}

.btn-dan {
    background-color: #d13777;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: medium;
    width: 12%;
    padding: 7px;
}

.btn-dan:hover {
    background: #e078ac;
}

.btns {
    text-align: right;
}

.hd {
    font-size: 30px;
    color: #032744;
}