body {
  height: 100%;
  margin: 0;
  background-size: 100% 100%, auto;
}

.navbareng {
  background-color: #67ab9f;
  padding: 0px;
  width: 100%;
  overflow: hidden;
}

.navbareng a {
  color: #ffff;
  float: left;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.navbareng a:hover {
  background-color: #ddd;
  color: black;
}

.navbareng a.active {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  background-color: #67ab9f;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dropdowneng {
  float: right;
  overflow: hidden;
}

.dropdowneng .dropbtneng {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdowneng:hover .dropbtneng {
  background-color: #ddd;
  color: black;
}

.dropdowneng-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: auto;
}

.dropdowneng-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowneng-content a:hover {
  background-color: #ddd;
}

.dropdowneng:hover .dropdowneng-content {
  display: block;
}

/* container layout*/

.videoViewer {
  /* padding-bottom: 50%; */
  padding-top: 60px;
}

.videoViewer iframe {
  width: 700;
  height: 500;
}

/* lesson name */
.lessonname{
  padding: 7px;
}
.btndownload{
  padding-top: 60px;
}
.card-header{
  color: black;
}
.bgtext{
  background-color: #7EA6E0;
  color: white;
  /*padding: 6px 12px;*/
  /* width: 200px; */
}
a{
  text-decoration: unset;
  color: black;
}
a:hover{
  text-decoration: unset;
  color: black;
}
.material-icons{
  color: #000;
  font-size: 36px;
}
