body {
    height: 100%;
    margin: 0;
    background-size: 100% 100%, auto;
}

.navbareng {
    background-color: #67ab9f;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

.navbareng a {
    color: #ffff;
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbareng a:hover {
    background-color: #ddd;
    color: black;
}

.navbareng a.active {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background-color: #67ab9f;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dropdowneng {
    float: right;
    overflow: hidden;
}

.dropdowneng .dropbtneng {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdowneng:hover .dropbtneng {
    background-color: #ddd;
    color: black;
}

.dropdowneng-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: auto;
}

.dropdowneng-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdowneng-content a:hover {
    background-color: #ddd;
}

.dropdowneng:hover .dropdowneng-content {
    display: block;
}

.btns {
    padding: 30px 0px;
    text-align: right;
}

.btn-dan {
    background-color: #67ab9f;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: medium;
    padding: 5px 20px;
}


/*Seclesson*/

a {
    color: black;
    text-decoration: unset;
}

a:hover {
    color: black;
    text-decoration: unset;
}

.text-center {
    width: 100%;
    height: 350px;
    background-image: url('../image/bgLesson.png');
    background-size: cover;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Page Lesson Leannig Student */


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tablinks {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

select {
    width: 250px;
    height: 30px;
    background-color: #666;
    color: white;
    border: #666;
}

option:hover {
    background: #666;
    border: #666;
}

select:focus .option {
    position: relative;
    pointer-events: all;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.divcontent {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}