/* Make the page use the entire screen */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: system-ui;
    display: grid;
    justify-items: center;
    align-items: center;
    /*background-color: #3a3a3a;*/
    background-image: url("../image/loginbg.jpg");
    background-size: cover;
    background-repeat: no-repeat
}


/* White rectangle in the middle of the screen */
.container {
    display: grid;
    grid-template-rows: 30% 50%;
    justify-items: center;
    align-items: center;
    background-color: white;
    /* border: 2px red solid; */
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px gray;
}
form {
    /* border: 2px red solid; */
    padding: 20px 40px 20px 40px;
    
}


/* -------------------------------------------------------------- */

div {
    display: flex;
    flex-flow: row wrap;
}

.login-header {
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
}

.eng {
    color: rgb(0, 154, 250);
    text-shadow: 2px 2px 8px lightskyblue;
}

.kidz {
    color: red;
    text-shadow: 2px 2px 8px lightpink;
}


/* -------------------------------------------------------------- */


/* Middle row of the main grid (contains the error message) */

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}


/* Error message. By default it's transparent, but the opacity is controlled
by JavaScript */

#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

#error-msg-second-line {
    display: block;
}


/* -------------------------------------------------------------- */


/* Adjust the positioning of the login form inside the last row of the
main grid */

#login-form {
    display: grid;
    align-items: center;
    margin-bottom: -25px;
}


/* Style the login form fields' placeholders */

.login-form-field::placeholder {
    color: lightslategrey;
}


/* Style the login form fields (username and password) */

.login-form-field {
    border: none;
    border: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 20px 5px 5px;
}
label{
    margin-bottom: -10px;
}


/* Style the login button */

div {
    display: flex;
    flex-flow: row;
}

#login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #7EA6E0;
    cursor: pointer;
    outline: none;
    font-size: medium;
}

#login-form-teacher {
    width: 100%;
    padding: 7px 108px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #009999;
    cursor: pointer;
    outline: none;
    font-size: medium;
}
#regis-form-teacher {
    width: 100%;
    padding: 7px 145px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #009999;
    cursor: pointer;
    outline: none;
    font-size: medium;
}

input[type=text],
input[type=password] {
    width: 350px;
    padding: 10px 10px;
    margin: 2px 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 7px;
}

.btns {
    padding-top: 30px;
    text-align: center;
}