body {
  height: 100%;
  margin: 0;
  background-size: 100% 100%, auto;
}

.navbareng {
  background-color: #67ab9f;
  padding: 0px;
  width: 100%;
  overflow: hidden;
}

.navbareng a {
  color: #ffff;
  float: left;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.navbareng a:hover {
  background-color: #ddd;
  color: black;
}

.navbareng a.active {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  background-color: #67ab9f;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dropdowneng {
  float: right;
  overflow: hidden;
}

.dropdowneng .dropbtneng {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdowneng:hover .dropbtneng {
  background-color: #ddd;
  color: black;
}

.dropdowneng-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: auto;
}

.dropdowneng-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowneng-content a:hover {
  background-color: #ddd;
}

.dropdowneng:hover .dropdowneng-content {
  display: block;
}

.table {
  padding: 10px;
}

.fh {
  padding-top: 30px;
}

.wrapper {
  line-height: 1.5em;
  margin: 0 auto;
  padding: 5px 0 3px;
  width: 100%;
  max-width: 2000px;
  overflow: hidden;
}

.table2 {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
}

.th2 th {
  background-color: #4778ad;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}

td,
th {
  padding: 1em 1em;
  text-align: left;
}

.tbody2 tr:nth-child(2n-1) {
  background-color: #f5f5f5;
  transition: all 0.125s ease-in-out;
}

.tbody2 tr:hover {
  background-color: rgba(66, 143, 224, 0.315);
}

td.rank {
  text-transform: capitalize;
}

#edit {
  float: right;
  background-color: rgb(112, 136, 214);
  border: none;
}

#edit:hover {
  background-color: #78b1e0;
}

.btns {
  padding: 30px 0px;
  text-align: right;
}

.btn-dan {
  background-color: #67ab9f;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: medium;
  padding: 5px 20px;
}

.btn-dan:hover {
  background: #78b1e0;
}

.div-upload-file {
  display: flex;
  justify-content: start;
  justify-self: start;
}

/*btn upload file*/

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #e8abb5;
  color: white;
}

.custom-file-upload:hover {
  background: #eb96a4;
}

.custom-file-uploadvdo {
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #ffae92;
  color: white;
}

.custom-file-uploadvdo:hover {
  background: #f0a071;
}

.div-btn-post {
  text-align: end;
}

.btn.btn-post {
  background-color: #7ea6e0;
  border-color: #7ea6e0;
  color: white;
}

.btn.btn-post:hover {
  background: #569eda;
}

.lb {
  padding: 5px;
}

.custom-google {
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #c6a5c7;
  color: white;
  border: none;
}

.custom-google:hover {
  background: #cd9bda;
}

.btnsub {
  background-color: #94d9e2;
  padding: 5px;
  margin: 5px 0 0 0;
  float: right;
  border-radius: 5px;
}

.btnsub:hover {
  background: #89ceee;
}

/*Seclesson*/

.subc {
  padding-top: 50px;
}

/*btn lesson*/

.custom-BtnLes {
  position: relative;
  display: block;
  max-width: 120px;
  min-width: 120px;
  margin: 0 auto;
  background-color: #522f92bd;
  z-index: 10;
  color: #f5f5f5;
}

/*btn type*/

.custom-BtnType {
  position: relative;
  display: block;
  max-width: 120px;
  min-width: 120px;
  margin: 0 auto;
  background-color: #4c4a4ebd;
  z-index: 10;
  color: #f5f5f5;
}
.fa-times {
  color: red;
}

.fa-stack:hover {
  background: #fff;
  border-color: #000;
}

.fa-stack:hover .fa-times {
  color: red;
}

table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #E34724;
}
