body {
  background-color: #67ab9f;
  height: 100%;
  margin: 0;
  font-family: system-ui;
  display: grid;
  justify-items: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  margin: 70px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 3px 10px rgb(184, 184, 184);
}

.emp-profile{
  padding: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-btnimg img{
  width: 70%;
  height: 100%;
}
.profile-btnimg .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-btnimg{
  text-align: center;
  margin-top: 10px;
}
#uploadBtn{
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: none;
}

.btn.btn-primary{
  background-color: #B3DBD8;
  color: black;
  border-color:#B3DBD8;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.placeholders {
  height: 80px;
}

.placeholders input {
  width: 100%;
  height: 35px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.btn-primary {
  background-color: #7EA6E0;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: medium;
  width: 120px;
  padding: 7px;
}

.btn-danger {
  background-color: #F898A4;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: medium;
  width: 100px;
  padding: 7px;
}
.btnlayout {
  display: flow-root;
  text-align: end;
  height: 60px;
}
