.table2y {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

.th2y th {
    background-color: #47ad75;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td,
th {
    padding: 1em 1em;
    text-align: left;
}

.tbody2y tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all 0.125s ease-in-out;
}

.tbody2y tr:hover {
    background-color: rgba(66, 224, 177, 0.479);
}

td.rank {
    text-transform: capitalize;
}

.hd {
    background-color: rgb(125, 134, 218);
    color: #ffff;
    padding: 15px;
}