body {
  background-color: #67ab9f;
  height: 100%;
  margin: 0;
  font-family: system-ui;
  display: grid;
  justify-items: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 70px auto;
  background-color: white;
  border-radius: 5px;
  width: 400px;
  height: 590px;
  box-shadow: 2px 3px 10px rgb(184, 184, 184);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  padding: 20px 40px 20px 40px;
}

.placeholders {
  height: 80px;
}

.placeholders input {
  width: 100%;
  height: 35px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
#a-submit {
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px 30px 10px 30px;
  font-family: "Montserrat", "sans-serif";
  border: 1px solid #67ab9f;
  background-color: #67ab9f;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  color: white;
  font-weight: 700;
  -webkit-transition: all 0.43s ease;
}

#a-submit:active {
  width: 40%;
  /* box-shadow: 2px 3px 10px rgb(211, 211, 211); */
}
