body {
    height: 100%;
    margin: 0;
    background-size: 100% 100%, auto;
}

.navbareng {
    background-color: #67ab9f;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

.navbareng a {
    color: #ffff;
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbareng a:hover {
    background-color: #ddd;
    color: black;
}

.navbareng a.active {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background-color: #67ab9f;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dropdowneng {
    float: right;
    overflow: hidden;
}

.dropdowneng .dropbtneng {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdowneng:hover .dropbtneng {
    background-color: #ddd;
    color: black;
}

.dropdowneng-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: auto;
}

.dropdowneng-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdowneng-content a:hover {
    background-color: #ddd;
}

.dropdowneng:hover .dropdowneng-content {
    display: block;
}

.texthead {
    padding-top: 30px;
}

.head {
    padding: 5px;
    text-align: center;
}

.textsub {
    padding-top: 10px;
    text-align: center;
}

.box {
    padding: 15px;
}

.speech {
    display: flex;
    justify-content: start;
    justify-self: start;
    padding: 15px;
    padding-top: 0px;
}

.btnspeech {
    width: 620px;
    background-color: #fa729f;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: medium;
}

.btnspeech:hover {
    background: #e297b4;
}

.lb {
    padding: 5px;
}

.btnstop {
    width: 620px;
    background-color: #28ac75;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: medium;
}

.btnstop:hover {
    background: #14ac97;
}

.divtext {
    padding-left: 15px;
}

.item {
    float: right;
    padding-bottom: 4px;
    padding-right: 15px;
}

.bgtext {
    background-color: #7EA6E0;
    color: white;
    padding: 6px 12px;
    width: 150px;
}

.bgtext:hover {
    background: #7ed1e0;
}

.material-icons {
    color: #000;
    font-size: 36px;
}

.btns {
    padding: 30px;
    text-align: right;
}

.btn-dan {
    background-color: #1CA5B8;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: medium;
    width: 200px;
    padding: 7px;
}

.btn-dan:hover {
    background: #78b1e0;
}

.show {
    font-size: 20px;
    color: rgb(228, 36, 148);
}