body {
    height: 100%;
    margin: 0;
    background-size: 100% 100%, auto;
}

.navbareng {
    background-color: #67AB9F;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

.navbareng a {
    color: #FFFF;
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbareng a:hover {
    background-color: #ddd;
    color: black;
}

.navbareng a.active {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background-color: #67AB9F;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropdowneng {
    float: right;
    overflow: hidden;
}

.dropdowneng .dropbtneng {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdowneng:hover .dropbtneng {
    background-color: #ddd;
    color: black;
}

.dropdowneng-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: auto;
}

.dropdowneng-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdowneng-content a:hover {
    background-color: #ddd;
}

.dropdowneng:hover .dropdowneng-content {
    display: block;
}

.table {
    padding: 10px;
}

.fh {
    padding-top: 30px;
}

.wrapper {
    line-height: 1.5em;
    margin: 0 auto;
    padding: 5px 0 3px;
    width: 100%;
    max-width: 2000px;
    overflow: hidden;
}

.table2 {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

.th2 th {
    background-color: #4778ad;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td,
th {
    padding: 1em 1em;
    text-align: left;
}

.tbody2 tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}

.tbody2 tr:hover {
    background-color: rgba(66, 143, 224, 0.315);
}

td.rank {
    text-transform: capitalize;
}

.ed {
    text-align: right;
    padding-right: 35px;
}

.edit2 {
    text-align: right;
    padding-right: 30px;
}