@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
  height: 100%;
  margin: 0;
  background-size: 100% 100%, auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbareng {
  background-color: #67ab9f;
  padding: 0px;
  width: 100%;
  overflow: hidden;
}

.navbareng a {
  color: #ffff;
  float: left;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.navbareng a:hover {
  background-color: #ddd;
  color: black;
}

.navbareng a.active {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  background-color: #67ab9f;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dropdowneng {
  float: right;
  overflow: hidden;
}

.dropdowneng .dropbtneng {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdowneng:hover .dropbtneng {
  background-color: #ddd;
  color: black;
}

.dropdowneng-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: auto;
}

.dropdowneng-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowneng-content a:hover {
  background-color: #ddd;
}

.dropdowneng:hover .dropdowneng-content {
  display: block;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/*ส่วนตารางแสดงรายชื่อนักเรียน*/
.table-responsive {
  margin: 30px 0;
}
.table-wrapper {
  min-width: 1000px;
  background: #fcfcfc;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}
.table-title{
  font-size: 22px;
  color: #f5f5f5;
  background: #006688;
  padding: 12px 80px 12px 35px;
}
.search-box {
  position: relative;        
  float: right;
}
.search-box input {
  padding: 6px 80px 6px 45px; 
  border-color: #ddd;
  box-shadow: none;
}
.search-box input:focus {
  border-color: #3FBAE4;
}
.search-box i {
  color: #a0a5b1;
  position: absolute;
  font-size: 19px;
  top: 8px;
  left: 10px;
}
table.table th{
  border-style: unset;
  background-color: #4778ad;
  color: #f5f5f5;
	padding: 12px 15px;
	vertical-align: middle;
}
table.table td{
  border-style: unset;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f5f5f5;
  
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
  
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child {
  width: 130px;
}
table.table td a {
  color: #a0a5b1;
  display: inline-block;
  margin: 0 5px;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #E34724;
}
table.table td i {
  font-size: 19px;
}
