body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-size: 100% 100%, auto;
  font-family: 'Open Sans', sans-serif;
}

.navbareng {
  background-color: #67AB9F;
  padding: 0px;
  width: 100%;
  overflow: hidden;
}

.navbareng a {
  color: #FFFF;
  float: left;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.navbareng a:hover {
  background-color: #ddd;
  color: black;
}

.navbareng a.active {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  background-color: #67AB9F;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnclass {
  float: none;
  margin: 0px 10px 0px 0px;
}
.btnclass a {
  color: #FFFF;
  background-color: #F898A4;
  float: left;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 15px;
}
.btnclass a:hover{
  background-color: #ffced4;
  color: black;
}


.dropdowneng {
  float: right;
  overflow: hidden;
}

.dropdowneng .dropbtneng {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdowneng:hover .dropbtneng {
  background-color: #ddd;
  color: black;
}

.dropdowneng-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: auto;
}

.dropdowneng-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowneng-content a:hover {
  background-color: #ddd;
}

.dropdowneng:hover .dropdowneng-content {
  display: block;
}

form.example input[type=text] {
  padding: 7px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 5px;
}

form.example button {
  width: 20%;
  padding: 7px;
  background: #7EA6E0;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
}

form.example button:hover {
  background: #0b7dda;
}

* {
  box-sizing: border-box;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.search {
  padding-top: 30px;
}

.table {
  padding: 10px;
}

.fh {
  padding-top: 30px;
}

#tb2 {
  border: #F8CECC;
  color: #EA6B66;
}
/* ส่วน card */
.card {
  width: 400px;                 /* Set width of cards */
  height: 200px;                 /* Set height of cards */
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
  border: 2px solid #EF9A9A;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  margin: 5px;                  /* Add space between cards */
}

.card-header {
  color: #D32F2F;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #EF9A9A;
  background-color: #FFEBEE;
  padding: 10px 10px;
}

.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (on cross axis) */
  padding: 20px 0;            /* Add padding to the top/bottom */
}

.material-icons {
  color: #D32F2F;
  margin-bottom: 5px;
}

a.card-link {
  color: #D32F2F;
  font-size: 40px;
  text-align: center;
  text-decoration: unset;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
