body {
    height: 100%;
    margin: 0;
    background-size: 100% 100%, auto;
}


/*bar*/

.navbareng {
    background-color: #67ab9f;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

.navbareng a {
    color: #ffff;
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbareng a:hover {
    background-color: #ddd;
    color: black;
}

.navbareng a.active {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background-color: #67ab9f;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dropdowneng {
    float: right;
    overflow: hidden;
}

.dropdowneng .dropbtneng {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdowneng:hover .dropbtneng {
    background-color: #ddd;
    color: black;
}

.dropdowneng-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: auto;
}

.dropdowneng-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdowneng-content a:hover {
    background-color: #ddd;
}

.dropdowneng:hover .dropdowneng-content {
    display: block;
}


/*card*/

.subc {
    padding-top: 50px;
}

.card-header {
    padding: 15px;
    color: #f9f9f9;
    background-color: #1ea38d;
}


/*button*/

.speech {
    display: flex;
    justify-content: start;
    justify-self: start;
    padding: 15px;
    padding-top: 0px;
}

.lb {
    padding: 10px;
}

.btndoc {
    width: 120px;
    height: 100px;
    text-align: center;
    padding-top: 7px;
    background-color: #704ea7;
    border: none;
}

.btndoc:hover {
    background: #7b7cc7;
}

.btnform {
    width: 120px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    background-color: #a95cbd;
    border: none;
}

.btnform:hover {
    background: #ab85c5;
}