<!DOCTYPE html>
<html>

<head>
    <title>Insert Score</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/add-class-page.css" />
</head>

<body>
    <div class="container">
        <img src="https://icon-library.com/images/scorecard-icon/scorecard-icon-10.jpg" alt="Avatar" class="avatar" />

        <form action="/addScore<%= testid %>" method="POST">
            <div id="username" class="placeholders">
                <label id="pl_username" for="text" class="">รหัสนิสิต</label>
                <input id="pl_username" type="text" name="studentID" pattern=".{8}" required title="กรุณาใส่ข้อมูล 8 ตัว" />
            </div>
            <div id="score" class="placeholders">
                <label id="pl_score" for="text" class="">คะแนน</label>
                <input id="pl_score" type="text" name="score"  required oninvalid="this.setCustomValidity('กรุณาใส่ข้อมูล')"
                oninput="this.setCustomValidity('')" />
            </div>

            <div class="btnlayout">
                <input class="btn-primary" type="submit" value="เพิ่ม" />
                <a href="/cancleScore">
                    <input class="btn-danger" type="button" value="ยกเลิก" />
                </a>
            </div>
        </form>
        <form action="/uploadfileScore<%= testid %>" enctype="multipart/form-data" method="post">
            <input type="file" name="uploadfileScore" accept='csv' required>
            <input type="submit" value="Upload CSV Score">
        </form>
    </div>
</body>

</html>