<!DOCTYPE html>
<html>

<head>
    <title>Sigup Student</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/add-class-page.css" />
</head>

<body>
    <div class="container">
        <img src="https://thumb1.shutterstock.com/mosaic_250/172344750/712760713/stock-vector-students-icon-712760713.jpg" alt="Avatar" class="avatar" />

        <form action="/addStu" method="POST">
            <div id="first-name" class="placeholders">
                <label id="pl_first_name" for="text" class="">ชื่อ</label>
                <input id="pl_first_name" type="text" name="firstname" required oninvalid="this.setCustomValidity('กรุณาใส่ข้อมูล')" oninput="this.setCustomValidity('')" />
            </div>

            <div id="last-name" class="placeholders">
                <label id="pl_last_name" for="text" class="">นามสกุล</label>
                <input id="pl_last_name" type="text" name="lastname" required oninvalid="this.setCustomValidity('กรุณาใส่ข้อมูล')" oninput="this.setCustomValidity('')" />
            </div>

            <div id="username" class="placeholders">
                <label id="pl_username" for="text" class="">รหัสนักเรียน</label>
                <input id="pl_username" type="text" name="studentID" pattern=".{8}" required oninvalid="this.setCustomValidity('กรุณาใส่ข้อมูล')" oninput="this.setCustomValidity('')" />
            </div>

            <div class="btnlayout">
                <input type="text" name="className" value="<%= classStu %>" readonly>
            </div>

            <div class="btnlayout">
                <input class="btn-primary" type="submit" value="ลงทะเบียน" />
                <a href="/cancleStudent">
                    <input class="btn-danger" type="button" value="ยกเลิก" />
                </a>
            </div>
        </form>
        <form action="/uploadfile" enctype="multipart/form-data" method="post">
            <input type="file" name="fileStu" accept='csv' required>
            <input type="submit" value="Upload CSV">
        </form>
    </div>
</body>

</html>