<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lesson</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/lesson-page.css" />
</head>

<body>
    <div class="navbareng">
        <a class="active" href="#">ENG KIDZ</a>
        <a href="/classStu">ชั้นเรียน</a>
        <a href="/seclessonstu">บทเรียน</a>
        <a href="/secTestSut">แบบทดสอบ</a>
        <a href="/scoreSut">คะแนน</a>
        <div class="dropdowneng">
            <button class="dropbtneng">
              ชื่อ : <%= name %> <%= lastname %>
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdowneng-content">
                <a href="/logoutSut">ออกจากระบบ</a>
            </div>
        </div>
    </div>

    <div class="text-center"></div>
    <div class="container pt-5">
        <select id="myDropdown" onchange="filterContent();">
        <option value="All">ทั้งหมด</option>
        <option value="Listening">ฟัง</option>
        <option value="Speaking">พูด</option>
        <option value="Reading">อ่าน</option>
        <option value="Writing">เขียน</option>
      </select>
        <div class="content col-12">
            <div id="contentListening" class="divcontent">
                <div class="row">
                    <% for(var i = 0; i < listen.length; i++) {%>
                        <div class="col-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= listen[i].lesson_name %>
                                    </h5>
                                    <p class="card-text">
                                        <%= listen[i].lesson_explain %>
                                    </p>
                                    <a href="/leanSut<%= listen[i].lesson_id %>" class="btn btn-primary float-end">เข้าเรียน</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <div id="contentSpeaking" class="divcontent">
                <div class="row">
                    <% for(var i = 0; i < speak.length; i++) {%>
                        <div class="col-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= speak[i].lesson_name %>
                                    </h5>
                                    <p class="card-text">
                                        <%= speak[i].lesson_explain %>
                                    </p>
                                    <a href="/leanSut<%= speak[i].lesson_id %>" class="btn btn-primary float-end">เข้าเรียน</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <div id="contentReading" class="divcontent">
                <div class="row">
                    <% for(var i = 0; i < read.length; i++) {%>
                        <div class="col-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= read[i].lesson_name %>
                                    </h5>
                                    <p class="card-text">
                                        <%= read[i].lesson_explain %>
                                    </p>
                                    <a href="/leanSut<%= read[i].lesson_id %>" class="btn btn-primary float-end">เข้าเรียน</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <div id="contentWriting" class="divcontent">
                <div class="row">
                    <% for(var i = 0; i < writ.length; i++) {%>
                        <div class="col-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= writ[i].lesson_name %>
                                    </h5>
                                    <p class="card-text">
                                        <%= writ[i].lesson_explain %>
                                    </p>
                                    <a href="/leanSut<%= writ[i].lesson_id %>" class="btn btn-primary float-end">เข้าเรียน</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="empty-div"></div>
        </div>
    </div>
</body>

<script>
    function filterContent() {
        var user = document.getElementById('myDropdown').value
        var contentB = document.getElementById('contentListening')
        var contentC = document.getElementById('contentSpeaking')
        var contentD = document.getElementById('contentReading')
        var contentE = document.getElementById('contentWriting')
        if (user == 'ALL') {
            contentB.style.display = 'block'
            contentC.style.display = 'block'
            contentD.style.display = 'block'
            contentE.style.display = 'block'
        } else if (user == 'Listening') {
            contentB.style.display = 'block'
            contentC.style.display = 'none'
            contentD.style.display = 'none'
            contentE.style.display = 'none'
        } else if (user == 'Speaking') {
            contentB.style.display = 'none'
            contentC.style.display = 'block'
            contentD.style.display = 'none'
            contentE.style.display = 'none'
        } else if (user == 'Reading') {
            contentB.style.display = 'none'
            contentC.style.display = 'none'
            contentD.style.display = 'block'
            contentE.style.display = 'none'
        } else if (user == 'Writing') {
            contentB.style.display = 'none'
            contentC.style.display = 'none'
            contentD.style.display = 'none'
            contentE.style.display = 'block'
        } else {
            contentB.style.display = 'block'
            contentC.style.display = 'block'
            contentD.style.display = 'block'
            contentE.style.display = 'block'
        }
    }
</script>

</html>