<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/dashboard.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
</head>

<body>
    <div class="navbareng">
        <a class="active" href="#">ENG KIDZ</a>
        <a href="/class">ชั้นเรียน</a>
        <a href="/lesson">บทเรียน</a>
        <a href="/test">แบบทดสอบ</a>
        <a href="/student">นักเรียน</a>
        <a href="/score">คะแนน</a>
        <a href="/statistics">การเข้าเรียน</a>
        <a href="/dashboard">รายงานผลนักเรียน</a>
        <div class="dropdowneng">
            <button class="dropbtneng">
          ชื่อ : ครู <%= name %> <%= lastname %>
          <i class="fa fa-caret-down"></i>
        </button>
            <div class="dropdowneng-content">
                <a href="/profile<%= id_t %>">จัดการข้อมูลผู้ใช้</a>
                <a href="/logouttea">ออกจากระบบ</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row fh">
            <div class="btns">
                <button class="btn-dan" onclick="tabletoExcel()">Export</button>
            </div>
            <table id="studtable" class="table caption-top">
                <caption class="hd">
                    รายงานผลนักเรียน
                </caption>
                <thead class="table-active">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ชื่อ-นามสกุล</th>
                        <th scope="col">คะแนน(%)</th>
                        <th scope="col">เกรดเฉลี่ย</th>
                        <th scope="col">เข้าเรียน(ครั้ง)</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(var i = 0; i< report.length; i++) {%>
                        <tr>
                            <td class="table-warning">
                                <%= i+1 %>
                            </td>
                            <td class="table-warning">
                                <%= report[i].name_stu %>
                                    <%= report[i].last_stu %>
                            </td>
                            <td class="table-warning">
                                <%= ((report[i].sumscore/report_scoreTest)*100).toFixed(0) %>
                            </td>
                            <%if(((report[i].sumscore/report_scoreTest)*100).toFixed(1) < 49){ var gpa = 0 %>
                                <%} else if(((report[i].sumscore/report_scoreTest)*100).toFixed(0) >= 50 && ((report[i].sumscore/report_scoreTest)*100).toFixed(0)<=59 ) { gpa = 1 %>
                                <%}else if (((report[i].sumscore/report_scoreTest)*100).toFixed(0) >= 60 && ((report[i].sumscore/report_scoreTest)*100).toFixed(0)<=69 ) { gpa = 2 %>
                                <%}else if (((report[i].sumscore/report_scoreTest)*100).toFixed(0) >= 70 && ((report[i].sumscore/report_scoreTest)*100).toFixed(0)<=79 ) { gpa = 3 %>
                                <%}else if (((report[i].sumscore/report_scoreTest)*100).toFixed(0) >= 80 && ((report[i].sumscore/report_scoreTest)*100).toFixed(0)<=100 ) { gpa = 4%>
                                <%}%>
                            <td class="table-warning">
                                <%= gpa %>
                            </td>
                            <td class="table-warning">
                                <%= report[i].actention %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function tabletoExcel() {
            $('#studtable').table2excel({
                filename: 'Students.xls'
            })
        }
    </script>
</body>

</html>