<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Test Speech</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/manage-page.css" />
</head>

<body>
    <div class="navbareng">
        <a class="active" href="#">ENG KIDZ</a>
        <a href="/class">ชั้นเรียน</a>
        <a href="/lesson">บทเรียน</a>
        <a href="/test">แบบทดสอบ</a>
        <a href="/student">นักเรียน</a>
        <a href="/score">คะแนน</a>
        <a href="/statistics">การเข้าเรียน</a>
        <a href="/dashboard">รายงานผลนักเรียน</a>
        <div class="dropdowneng">
            <button class="dropbtneng">
                ชื่อ : ครู <%= name %> <%= lastname %>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdowneng-content">
                <a href="/profile<%= id_t %>">จัดการข้อมูลผู้ใช้</a>
                <a href="/logouttea">ออกจากระบบ</a>
            </div>
        </div>
    </div>

    <div class="container" style="display: flow-root; margin-top: 60px;">
        <form action="/editTestSpeech" method="POST">
            <div class="form-group">
                <br>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="nameTest" value="<%= detail_name %>">
            </div>
            <div class="form-group">
                <br>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="expianTest" placeholder="คำอธิบาย"><%= detail_expian %></textarea>
            </div>
            <div class="form-group">
                <br>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="testSp" placeholder="คำศัพท์"><%= dt_ver %></textarea>
            </div>
            <div class="form-group">
                <br>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="scoreTest" value="<%= dt_score %>" placeholder="คะแนนแบบทดสอบ" required oninvalid="this.setCustomValidity('กรุณาใส่ข้อมูล')" oninput="this.setCustomValidity('')">
            </div>
            <br>
            <div class="div-btn-post">
                <button type="submit" class="btn btn-post">บันทึก</button>
            </div>
    </div>
    </form>
    </div>
</body>

</html>