<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Lesson</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/manage-page.css" />
</head>

<body>
    <div class="navbareng">
        <a class="active" href="#">ENG KIDZ</a>
        <a href="/class">ชั้นเรียน</a>
        <a href="/lesson">บทเรียน</a>
        <a href="/test">แบบทดสอบ</a>
        <a href="/student">นักเรียน</a>
        <a href="/score">คะแนน</a>
        <a href="/statistics">การเข้าเรียน</a>
        <a href="/dashboard">รายงานผลนักเรียน</a>
        <div class="dropdowneng">
            <button class="dropbtneng">
          ชื่อ : ครู <%= name %> <%= lastname %>
          <i class="fa fa-caret-down"></i>
        </button>
            <div class="dropdowneng-content">
                <a href="/profile<%= id_t %>">จัดการข้อมูลผู้ใช้</a>
                <a href="/logouttea">ออกจากระบบ</a>
            </div>
        </div>
    </div>

    <div class="container" style="display: flow-root; margin-top: 60px;">
        <form action="/updateLesson" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <br />
                <input type="text" class="form-control" id="exampleFormControlInput1" name="nameLesson" value="<%= detail_name %>" />
            </div>
            <div class="form-group">
                <br />
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="expianLesson">
<%= detail_expian %></textarea
          >
        </div>
        <br />
        <div class="div-upload-file">
          <br />
          <div class="form-group lb">
            <label class="custom-file-upload">
              <input type="file" id="filespdf" name="doc" multiple accept=".pdf,.doc"/>
              <i class="fa fa-cloud-upload"></i> อัปโหลดเอกสาร(pdf.)
            </label>
          </div>
          <br />
          <div class="form-group lb">
            <label class="custom-file-uploadvdo">
              <input
                type="file"
                id="filevdo"
                name="vdo"
                multiple
                accept="video/*"
              />
              <i class="fa fa-cloud-upload"></i> อัปโหลดวิดิโอ
            </label>
          </div>
        </div>
        <br />
        <div>
          <% for(var i = 0; i < doclist.length; i++) {%>
            <% if(doclist[i].doc_name){ %>
            <%= doclist[i].doc_name
          %>
          <a href="/deletefileDoc<%= doclist[i].doc_id %>">
            <span class="fa-stack fa-lg"
              ><i class="fa fa-times fa-stack-1x"></i
            ></span>
          </a>
          <% } %>
           <br>
          <% } %>
        </div>
        <br>
        <div>
          <% for(var j = 0; j < vdolist.length; j++) {%>
            <% if(vdolist[j].vdo_name){ %>
              <%= vdolist[j].vdo_name %>
              <a href="/deletefileVideo<%= vdolist[j].vdo_id %>"><span class="fa-stack fa-lg"><i class="fa fa-times fa-stack-1x"></i></span></a>
            <% } %>
          <% } %>
        </div>
        <div id="selectedFiles"></div>        
        <div id="selectedFilevdo"></div>
        <br />
        <div class="div-btn-post">
          <button type="submit" class="btn btn-post">บันทึก</button>
        </div>
      </form>
    </div>
    <script>
      var selDiv = ''
      var selDiv2 = ''

      document.addEventListener('DOMContentLoaded', init, false)

      function init () {
        document
          .querySelector('#filespdf')
          .addEventListener('change', handleFileSelect, false)
          selDiv = document.querySelector('#selectedFiles')
        document
          .querySelector('#filevdo')
          .addEventListener('change', handleFileSelect2, false)
        selDiv2 = document.querySelector('#selectedFilevdo')
      }

      function handleFileSelect (e) {
        if (!e.target.files) return

        selDiv.innerHTML = ''

        var files = e.target.files
        for (var i = 0; i < files.length; i++) {
          var f = files[i]

          selDiv.innerHTML += f.name + '<br/>'
        }
      }

      function handleFileSelect2 (e) {
        if (!e.target.files) return
        selDiv2.innerHTML = ''
        var files = e.target.files
        for (var j = 0; j < 1; j++) {
          var f = files[j]
          selDiv2.innerHTML += f.name
        }
      }
    </script>
  </body>
</html>