<!DOCTYPE html>
<html>

<head>
    <title>Insert Score</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/add-class-page.css" />
</head>

<body>
    <div class="container">
        <img src="https://icon-library.com/images/scorecard-icon/scorecard-icon-10.jpg" alt="Avatar" class="avatar" />

        <form action="/updateScore" method="POST">
            <input type="hidden" id="scoreId" name="scoreId" value="<%=userscore.score_id%>">
            <div id="username" class="placeholders">
                <label id="pl_username" for="text" class="">รหัสนิสิต</label>
                <input required id="pl_username" type="text" name="studentID" value="<%= userscore.stu_number %>" maxlength="8" readonly/>
            </div>
            <div id="score" class="placeholders">
                <label id="pl_score" for="text" class="">คะแนน</label>
                <input required id="pl_score" type="text" name="score" value="<%= userscore.score %>" maxlength="8" />
            </div>

            <div class="btnlayout">
                <input class="btn-primary" type="submit" value="บันทึก" />
                <a href="/cancleScore<%= userscore.test_id %>">
                    <input class="btn-danger" type="button" value="ยกเลิก" />
                </a>
            </div>
        </form>
    </div>
</body>

</html>