<!DOCTYPE html>
<html>
  <head>
    <title>Edit Student</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/add-class-page.css" />
  </head>

  <body>
    <div class="container">
      <img
        src="https://thumb1.shutterstock.com/mosaic_250/172344750/712760713/stock-vector-students-icon-712760713.jpg"
        alt="Avatar"
        class="avatar"
      />
      <form action="/updateStu" method="POST">
        <div id="first-name" class="placeholders">
          <label id="pl_first_name" for="text" class="">ชื่อ</label>
          <input
            required
            id="pl_first_name"
            type="text"
            name="firstname"
            value="<%= user.stu_name %>"
          />
        </div>

        <div id="last-name" class="placeholders">
          <label id="pl_last_name" for="text" class="">นามสกุล</label>
          <input
            required
            id="pl_last_name"
            type="text"
            name="lastname"
            value="<%= user.stu_lastname %>"
          />
        </div>

        <div id="username" class="placeholders">
          <label id="pl_username" for="text" class="">รหัสนิสิต</label>
          <input
            required
            id="pl_username"
            type="text"
            name="studentID"
            maxlength="8"
            value="<%= user.stu_number %>"
          />
        </div>
        <div class="btnlayout">
          <input class="btn-primary" type="submit" value="บันทึก" />
          <a href="/cancleStudent">
            <input class="btn-danger" type="button" value="ยกเลิก" />
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
