<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= lesson_name %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/lean-lesson-page.css" />
  </head>

  <body>
    <div class="navbareng">
      <a class="active" href="#">ENG KIDZ</a>
      <a href="/classStu">ชั้นเรียน</a>
      <a href="/seclessonstu">บทเรียน</a>
      <a href="/secTestSut">แบบทดสอบ</a>
      <a href="/scoreSut">คะแนน</a>
      <div class="dropdowneng">
        <button class="dropbtneng">
          ชื่อ : <%= name %> <%= lastname %>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdowneng-content">
          <a href="/logoutSut">ออกจากระบบ</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="videoViewer">
                <iframe
                  width="800"
                  height="515"
                  src="../vdo/<%= vdo %>"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <div class="col">
              <p>เรื่อง <%= lesson_name %></p>
              <p><%= explain %></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="btndownload">
            <div
              class="card text-white bg-white mb-3"
              style="max-width: 20rem;"
            >
              <div class="card-header">สื่อประกอบการสอน</div>
              <div class="card-body">
                <% for(var i = 0; i < doc.length; i++) {%>
                <div class="download-item m-t-10">
                  <i class="material-icons">feed</i>
                  <a href="../doc/<%= doc[i].doc_name %>" download>
                    <button class="btn bgtext">เอกสารประกอบการเรียน</button>
                  </a>
                </div>
                <br>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
