<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lesson</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/lesson-page.css" />
</head>

<body>
    <div class="navbareng">
        <a class="active" href="#">ENG KIDZ</a>
        <a href="/class">ชั้นเรียน</a>
        <a href="/lesson">บทเรียน</a>
        <a href="/test">แบบทดสอบ</a>
        <a href="/student">นักเรียน</a>
        <a href="/score">คะแนน</a>
        <a href="/statistics">การเข้าเรียน</a>
        <a href="/dashboard">รายงานผลนักเรียน</a>
        <div class="dropdowneng">
            <button class="dropbtneng">
                ชื่อ : ครู <%= name %> <%= lastname %>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdowneng-content">
                <a href="/profile<%= id_t %>">จัดการข้อมูลผู้ใช้</a>
                <a href="/logouttea">ออกจากระบบ</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="btns">
            <a href="/addseclesson"><button class="btn-dan" type="button">เพิ่มหัวข้อ</button></a>
        </div>
        <% for(var i = 0; i < secLes.length; i++) {%>
            <a href="./lesManage<%= secLes[i].sec_lesson_id %>" class="card mb-3">
                <div class="card-header">
                    <%= secLes[i].sec_name %>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <% for(var j = 0; j < Les.length; j++) {%>
                            <% if(secLes[i].sec_lesson_id == Les[j].sec_lesson_id) { %>
                                <li class="list-group-item">
                                    <%= Les[j].lesson_name %>
                                </li>
                                <% } %>
                                    <% } %>
                    </ul>
                </div>
            </a>
            <% } %>
    </div>
    </div>
</body>

</html>