<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mainstu.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body>
    <div class="navbareng">
        <a class="active" href="#">ENG KIDZ</a>
        <a href="/classStu">ชั้นเรียน</a>
        <div class="dropdowneng">
            <button class="dropbtneng">ชื่อ : <%= name %> <%= lastname %>
            <i class="fa fa-caret-down"></i>
          </button>
            <div class="dropdowneng-content">
                <a href="/logoutSut">ออกจากระบบ</a>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <% for(var i = 0; i < classSut.length; i++) {%>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header"></div>
                        <div class="card-main">
                            <i class="material-icons">emoji_nature</i>
                            <div class="main-description">
                                <a href="/ClassLessonSut<%= classSut[i].class_id %>" class="card-link">
                                    <%= classSut[i].class_name %>
                                </a>
                            </div>
                            <i style="color: brown;">ชั้นปี <%= classSut[i].class_year %></i>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</body>

</html>