<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MainTea</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/tea-page.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body>
    <div class="navbareng">
        <a class="active" href="/class">ENG KIDZ</a>
        <div class="btnclass">
            <a href="/pageaddclass" role="button">สร้างคลาส</a>
        </div>
        <div class="dropdowneng">
            <button class="dropbtneng">
          ชื่อ : ครู <%= name %> <%= lastname %>
          <i class="fa fa-caret-down"></i>
        </button>
            <div class="dropdowneng-content">
                <a href="/profile<%= id_t %>">จัดการข้อมูลผู้ใช้</a>
                <a href="http://127.0.0.1:3000/logouttea">ออกจากระบบ</a>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <% for(var i = 0; i < Class.length; i++) {%>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header"></div>
                        <div class="card-main">
                            <i class="material-icons">emoji_nature</i>
                            <div class="main-description">
                                <a href="/lesson<%= Class[i].class_id %>" class="card-link">
                                    <%= Class[i].class_name %>
                                </a>
                            </div>
                            <i style="color: brown;">ชั้นปี <%= Class[i].class_year %></i>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</body>

</html>