<!DOCTYPE html>
<html>
  <head>
    <title>Manage Teacher</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/profile.css" />
  </head>

  <body>
    <div class="container emp-profile">
      <form action="/editProfile" method="POST" enctype="multipart/form-data">
        <div class="row">
          <div class="col">
            <div class="profile-img">
              <% if(dt_im){ %>
              <img
                id="blah"
                src="/image/<%= dt_im %>"
                alt="Avatar"
                class="avatar"
              />
              <% } %>
              <input type="file" name="fileImg" id="imgInp" accept="image/*" />
              <label for="file" id="uploadBtn">Choose Photo</label>
            </div>
          </div>
          <div class="col">
            <div class="profile-head">
              <div id="first-name" class="placeholders">
                <label id="pl_first_name" for="text" class="">ชื่อ</label>
                <input
                  required
                  id="pl_first_name"
                  type="text"
                  name="firstname"
                  value="<%= dt_name %>"
                />
              </div>

              <div id="last-name" class="placeholders">
                <label id="pl_last_name" for="text" class="">นามสกุล</label>
                <input
                  required
                  id="pl_last_name"
                  type="text"
                  name="lastname"
                  value="<%= dt_last %>"
                />
              </div>

              <div id="username" class="placeholders">
                <label id="pl_username" for="text" class=""
                  >ชื่อผู้ใช้งาน</label
                >
                <input
                  required
                  id="pl_username"
                  type="text"
                  name="username"
                  maxlength="8"
                  value="<%= dt_user %>"
                />
              </div>

              <div id="password" class="placeholders">
                <label for="password">รหัสผ่าน</label>
                <input
                  required
                  type="password"
                  name="password"
                  value="<%= dt_pw %>"
                  id="myInput"
                />
              </div>
              <input type="checkbox" onclick="showPassword()" /> แสดงรหัสผ่าน
            </div>
          </div>
        </div>
        <div class="row">
          <div class="btnlayout">
            <input class="btn-primary" type="submit" value="บันทึก" />
            <a href="/cancleEditTeacher">
              <input class="btn-danger" type="button" value="ยกเลิก" />
            </a>
          </div>
        </div>
      </form>
    </div>
    <script>
      imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
          blah.src = URL.createObjectURL(file)
        }
      }
      function showPassword () {
        var x = document.getElementById('myInput')
        if (x.type === 'password') {
          x.type = 'text'
        } else {
          x.type = 'password'
        }
      }
    </script>
  </body>
</html>
