<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/score-page.css">
    <link rel="stylesheet" href="../css/table.css" />
</head>

<body>
    <div class="navbareng">
        <a class="active" href="#">ENG KIDZ</a>
        <a href="/classStu">ชั้นเรียน</a>
        <a href="/seclessonstu">บทเรียน</a>
        <a href="/secTestSut">แบบทดสอบ</a>
        <a href="/scoreSut">คะแนน</a>
        <div class="dropdowneng">
            <button class="dropbtneng">
              ชื่อ : <%= name %> <%= lastname %>
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdowneng-content">
                <a href="/logoutSut">ออกจากระบบ</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row fh">
            <table id="tb" class="table table-bordered">
                <thead>
                    <tr>
                        <th class="htb">แบบทดสอบ</th>
                        <th class="htb">คะแนนสูงสุด</th>
                        <th class="htb">รายคน</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i< sumScore.length; i++) {%>
                        <tr>
                            <td>
                                <%= sumScore[i].test_name %>
                            </td>
                            <td>
                                <%= sumScore[i].max %>
                            </td>
                            <td><a href="./AllscoreStu<%= sumScore[i].test_id %>" class="view" title="ดูคะแนนทั้งหมด" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a></td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="btns">
        <a href="/ranking"><button class="btn-dan" type="button">ลำดับคะแนน</button></a>
    </div>
</body>

</html>