<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../css/student-tea-page.css">
</head>

<body>
    <div class="navbareng">
        <a class="active" href="#">ENG KIDZ</a>
        <a href="/class">ชั้นเรียน</a>
        <a href="/lesson">บทเรียน</a>
        <a href="/test">แบบทดสอบ</a>
        <a href="/student">นักเรียน</a>
        <a href="/score">คะแนน</a>
        <a href="/statistics">การเข้าเรียน</a>
        <a href="/dashboard">รายงานผลนักเรียน</a>
        <div class="dropdowneng">
            <button class="dropbtneng">
                ชื่อ : ครู <%= name %> <%= lastname %>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdowneng-content">
                <a href="/profile<%= id_t %>">จัดการข้อมูลผู้ใช้</a>
                <a href="/logouttea">ออกจากระบบ</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>รายชื่อนักเรียน</h2>
                        </div>
                        <div class="col-sm-4">
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input type="text" id="myInput" class="form-control" placeholder="Search&hellip;" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a href="/addStudent<%= classStu %>"><button class="btn btn-outline-secondary" type="button" ><i class="material-icons">&#xE147;</i>เพิ่มนักเรียน</button></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>รหัสนักเรียน</th>
                            <th>ชื่อ-นามสกุล</th>
                            <th>ห้อง</th>
                            <th>เครื่องมือ</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <% for(var i = 0; i < stu.length; i++) {%>
                            <tr>
                                <td>
                                    <%=stu[i].stu_number%>
                                </td>
                                <td>
                                    <%= stu[i].stu_name %>
                                        <%= stu[i].stu_lastname %>
                                </td>
                                <td>
                                    <%= stu[i].stu_classname %>
                                </td>

                                <td>
                                    <a href="/editStu<%= stu[i].stu_id %>" class="edit" title="แก้ไข" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a
                                  >&nbsp;&nbsp;
                                  <a
                                    href="/DelStu<%= stu[i].stu_id %>"
                                    class="delete"
                                    title="ลบ"
                                    data-toggle="tooltip"
                                    ><i class="material-icons">&#xE872;</i></a
                                  >
                                </td>

                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
           
        </div>
        
    </div>
      <script>
        $(document).ready(function () {
          $('#myInput').on('keyup', function () {
            var value = $(this)
              .val()
              .toLowerCase()
            $('#myTable tr').filter(function () {
              $(this).toggle(
                $(this)
                  .text()
                  .toLowerCase()
                  .indexOf(value) > -1
              )
            })
          })
        })
      </script>
</body>

</html>