<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/lesson-page.css" />
</head>

<body>
    <div class="navbareng">
        <a class="active" href="#">ENG KIDZ</a>
        <a href="/classStu">ชั้นเรียน</a>
        <a href="/seclessonstu">บทเรียน</a>
        <a href="/secTestSut">แบบทดสอบ</a>
        <a href="/scoreSut">คะแนน</a>
        <div class="dropdowneng">
            <button class="dropbtneng">
              ชื่อ : <%= name %> <%= lastname %>
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdowneng-content">
                <a href="/logoutSut">ออกจากระบบ</a>
            </div>
        </div>
    </div>

    <div class="container pt-5">
        <div class="row pt">
            <% for(var i = 0; i < secTest.length; i++) {%>
                <a href="/AllTestSut<%= secTest[i].sec_test_id %>" class="card mb-3">
                    <div class="card-header">
                        <%= secTest[i].sec_test_name %>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <% for(var j = 0; j < nameTest.length; j++) {%>
                                <% if(secTest[i].sec_test_id == nameTest[j].sec_test_id) { %>
                                    <li class="list-group-item">
                                        <%= nameTest[j].test_name %>
                                    </li>
                                    <% } %>
                                        <% } %>
                        </ul>
                    </div>
                </a>
                <% } %>
        </div>
    </div>
</body>

</html>