<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Eng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/testEng.css" />
</head>

<body>
    <div class="navbareng">
        <a class="active" href="#">ENG KIDZ</a>
        <a href="/classStu">ชั้นเรียน</a>
        <a href="/seclessonstu">บทเรียน</a>
        <a href="/secTestSut">แบบทดสอบ</a>
        <a href="/scoreSut">คะแนน</a>
        <div class="dropdowneng">
            <button class="dropbtneng">
              ชื่อ : <%= name %> <%= lastname %>
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdowneng-content">
                <a href="/logoutSut">ออกจากระบบ</a>
            </div>
        </div>
    </div>

    <div class="container subc">
        <div class="card mb-3">
            <div class="card-header">
                <%= dt_name %>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>
                        <%= dt_expian %>
                    </p>
                </blockquote>
                <div class="form-group speech">
                    <div class="form-group lb">
                        <a href="/docTest/<%= dt_doc %>">
                            <button class="btn btn-danger btndoc">เอกสารแบบประเมินตนเอง</button>
                        </a>
                    </div>
                    <div class="form-group lb">
                        <a class="btn btn-danger btnform" href="<%= dt_form %>">ทำแบบทดสอบ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>