<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Speech</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../css/speech-test.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="navbareng">
        <a class="active" href="#">ENG KIDZ</a>
        <a href="/classStu">ชั้นเรียน</a>
        <a href="/seclessonstu">บทเรียน</a>
        <a href="/secTestSut">แบบทดสอบ</a>
        <a href="/scoreSut">คะแนน</a>
        <div class="dropdowneng">
            <button class="dropbtneng">
          ชื่อ : <%= name %> <%= lastname %>
          <i class="fa fa-caret-down"></i>
        </button>
            <div class="dropdowneng-content">
                <a href="/logoutSut">ออกจากระบบ</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="texthead">
            <h1 class="head">English Test Speaking แบบทดสอบ
                <%= dt_name %>
            </h1>
        </div>
        <div class="textsub">
            <p>
                คำอธิบาย: กดที่ปุ่มกดเพื่อพูด แล้วทำการอ่านออกเสียงทีละคำ เมื่อทำแบบทดสอบเสร็จสิ้น ให้กดที่ปุ่มสิ้นสุดการทำแบบทดสอบ 1 คำพูดผิดได้จำนวน 3 ครั้ง
            </p>
            <p>
                <%= dt_expian %>
            </p>
        </div>
        <div class="textver">
            <p>
                คำศัพท์ :
            </p>
            <p id="Ver">
                <%= dt_ver %>
            </p>
        </div>
        <div class="form-group box">
            <textarea id="textbox" rows="7" class="form-control"></textarea>
        </div>
        <div class="form-group speech">
            <div class="form-group lb">
                <button id="start-btn" class="btn btn-danger btnspeech">
            กดเพื่อพูด
          </button>
            </div>
            <div class="form-group lb">
                <button id="stop-btn" class="btn btn-danger btnstop">
            กดเพื่อหยุด
          </button>
            </div>
        </div>
        <div class="divtext">
            <p id="instructions" class="ptext">กรุณากดปุ่มเพื่อเริ่มการทดสอบ</p>
        </div>
        <form action="/scoreSpeech" method="POST" name="myFormSP">
            คะแนน :
            <input id="box" type="text" name="scoreSP" value="0" readonly size="2" />
            <p id="show" class="show"></p>
            <div class="btns">
                <button class="btn-dan" type="submit">สิ้นสุดการทำแบบทดสอบ</button>
            </div>
        </form>
    </div>
</body>

<script>
    var speechRecognition = window.webkitSpeechRecognition
    var recognition = new speechRecognition()
    var textbox = $('#textbox')
    var box = $('#box')
    var instructions = $('#instructions')
    var content = ''
    var cout = 0
    var coutflse = 0
    var vc = document.getElementById('Ver').innerText
    var boxv = $('#Ver')
    var show = $('#show')

    recognition.continuous = true

    // recognition is started
    recognition.onstart = function() {
        instructions.text('กำลังบันทึกเสียง')
    }

    recognition.onspeechend = function() {
        instructions.text('จบการบันทึกเสียง')
    }

    recognition.onerror = function() {
        instructions.text('ลองอีกครั้ง')
    }

    //แยกเป็นคำ
    var arr = [];
    var testV = vc;
    for (var i = 0; i < testV.length; i++) {
        if (testV[i] == " ,") {
            arr = testV.split(" ,")
        }

        if (testV[i] == ",") {
            arr = testV.split(",")
        }

        if (testV[i] == " , ") {
            arr = testV.split(" , ")
        }

        if (testV[i] == ", ") {
            arr = testV.split(", ")
        }

        if (testV[i] == " ") {
            arr = testV.split(", ")
        }
    }
    console.log(arr)

    //เทียบคำ
    recognition.onresult = function(event) {
        var current = event.resultIndex
        var transcript = event.results[current][0].transcript

        content += transcript

        textbox.val(content)

        console.log(content)

        if (coutflse == 2) {
            console.log('เข้า if : ' + coutflse)
            for (var l = 0; l < 1; l++) {
                for (var i = 0; i < arr.length; i++) {
                    if (content.toUpperCase() === arr[i].toUpperCase()) {
                        cout += 1
                        console.log('เข้า if ตอบถูก ' + arr[i].toUpperCase() + ' ' + content.toUpperCase() + ' ' + cout)
                        arr.shift(arr[i])
                        coutflse = 0
                        show.text('ตอบคำถูกต้อง')
                        break
                    } else {
                        console.log('เข้า if ตอบผิด ' + coutflse + ' ' + arr[i].toUpperCase() + ' ' + content.toUpperCase())
                        arr.shift(arr[l])
                        coutflse = 0
                        show.text('ตอบคำไม่ถูกต้องครบ 3 ครั้ง')
                        break
                    }
                }
            }
        } else {
            for (var i = 0; i < arr.length; i++) {
                if (content.toUpperCase() === arr[i].toUpperCase()) {
                    cout += 1
                    console.log('ไม่เข้า if ตอบถูก ' + arr[i].toUpperCase() + ' ' + content.toUpperCase() + ' ' + cout)
                    arr.shift(arr[i])
                    coutflse = 0
                    show.text('ตอบคำถูกต้อง')
                    break
                } else {
                    coutflse += 1
                    console.log('ไม่เข้า if ตอบผิด ' + coutflse + ' ' + arr[i].toUpperCase() + ' ' + content.toUpperCase())
                    show.text('ตอบคำไม่ถูกต้อง จำนวน ' + coutflse + ' ครั้ง')
                    break
                }
            }
        }

        boxv.text(arr)
        console.log(arr)

        box.val(cout)
        console.log(cout)
    }

    $('#start-btn').click(function(event) {
        content = ''
        recognition.start()
    })

    textbox.on('input', function() {
        content = $(this).val()
    })

    $('#stop-btn').click(function(event) {
            recognition.stop()
        })
        //console.log(coutflse % 4)
</script>

</html>